<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings"
                type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="NSDMasterInventorySF.Properties.Settings"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<NSDMasterInventorySF.Properties.Settings>
   <setting name="Theme" serializeAs="String">
    <value>Metro</value>
   </setting>
   <setting name="Database" serializeAs="String">
    <value>Inventory</value>
   </setting>
   <setting name="Schema" serializeAs="String">
    <value>Tables</value>
   </setting>
   <setting name="Server" serializeAs="String">
    <value>10.13.100.21\MSSQLSERVER_INV</value>
   </setting>
   <setting name="UserID" serializeAs="String">
    <value>install</value>
   </setting>
   <setting name="Password" serializeAs="String">
    <value>cig1997</value>
   </setting>
  </NSDMasterInventorySF.Properties.Settings>
	</userSettings>
</configuration>